@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #003C43;
    font-family: "Kanit", sans-serif;
    color: #E3FEF7;
}
.titulo{
    color: #E3FEF7;
    width: 400px;
    height: 50%;
    font-size: 45px;
    margin-left: 102px;
}

#Seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetaMo{
    width: 185px;
    height: 100px;
    background: #77B0AA;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px;
    color: #E3FEF7;
    border-radius: 20px;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjetas img{
    height: 85px;
}

input{
    display: none;
}
input:checked + label{
    background-color: #38846f;
    width: 100px;

}


#boton-mascota{
    margin: 20px;
    height: 51px;
    width: 204px;
    border-radius: 20px;
    color: white;
    background: #77B0AA;
    padding: 12px;
    border: 2px;
}
    
.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

h2{
  color: #E3FEF7 ;
}

#Seleccionar-ataque{
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.botones-ataque{
    color: #E3FEF7;
    background-color: #77B0AA;
    padding: 12px;
    border: 2px;
    height: 51px;
    width: 204px;
    border-radius: 20px;

}
#mensajes{
    width: 231px;
    background: #77B0AA;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}

#reiniciar{
    border: none;
    color: #236e67;
    font-family: "Kanit", sans-serif
}
.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    
}

.ataques-jugador,.ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media(max-width: 360px){
    .tarjetas{
    flex-direction: column;
    }
    .tarjetas-ataques{
        flex-direction: column;
    }
}